* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #111;
  background-image: linear-gradient(
      45deg,
      fade-out(#222, 0.333),
      fade-out(#222, 0.666)
    ),
    url("../assets/img/grit-fs8.png");
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  padding: 0 100px;
  height: 100%;
  row-gap: 20px;
  margin: 0 auto;
}

.display {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: #a9dffd;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 30px;
    box-sizing: border-box;
    text-align: justify;
    line-height: 40px;
    outline: none;
    box-shadow: 0 0 5px rgba(#a9dffd, 0.8), 0 0 10px rgba(#a9dffd, 0.7),
      0 0 15px rgba(#a9dffd, 0.6), 0 0 20px rgba(#a9dffd, 0.5),
      0 0 40px rgba(#a9dffd, 0.4), 0 0 60px rgba(#a9dffd, 0.3);
      animation: shadow 1s infinite alternate;
    }
}

@keyframes shadow {
  from {
    box-shadow: 0 0 19px 5px white;
  }
  to {
    box-shadow: 0 0 25px 1px white;
  }
}


.keyboard {
  width: 100%;
  margin-bottom: 10px;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 13px solid #777;
    border-top-color: #666;
    border-bottom-color: #888;
    outline: 3px solid rgba(black, 0.2);
    outline-offset: -1px;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.5),
      0 2rem 3rem -0.5rem rgba(0, 0, 0, 0.55);
    background-image: radial-gradient(#111, #222);
    padding: 0.25rem;
  }
}

.row {
  display: grid;
  grid-template-rows: 60px;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;

  @media (max-width: 800px) {
    grid-template-rows: 43px;
    margin-bottom: 4px;
  }

  &:nth-child(1) {
    grid-template-columns: repeat(13, 1fr) 120px;
  }
  &:nth-child(2) {
    grid-template-columns: 75px repeat(13, 1fr) 75px;
  }
  &:nth-child(3) {
    grid-template-columns: 95px repeat(11, 1fr) 105px;
  }
  &:nth-child(4) {
    grid-template-columns: 115px repeat(11, 1fr) 138px;
  }
  &:nth-child(5) {
    grid-template-columns: 65px 65px 65px 1fr 75px 65px 65px 65px 65px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1000px) {
    &:nth-child(1) {
      grid-template-columns: repeat(13, 1fr) 70px;
    }
    &:nth-child(2) {
      grid-template-columns: 55px repeat(13, 1fr) 55px;
    }
    &:nth-child(3) {
      grid-template-columns: 75px repeat(11, 1fr) 85px;
    }
    &:nth-child(4) {
      grid-template-columns: 85px repeat(10, 1fr) 55px 115px;
    }
    &:nth-child(5) {
      grid-template-columns: 55px 55px 55px 1fr 65px 55px 55px 55px 55px;
    }
  }

  @media (max-width: 800px) {
    &:nth-child(1) {
      grid-template-columns: repeat(13, 1fr) 50px;
    }
    &:nth-child(2) {
      grid-template-columns: 35px repeat(13, 1fr) 35px;
    }
    &:nth-child(3) {
      grid-template-columns: 45px repeat(11, 1fr) 55px;
    }
    &:nth-child(4) {
      grid-template-columns: 65px repeat(10, 1fr) 35px 75px;
    }
    &:nth-child(5) {
      grid-template-columns: 35px 35px 35px 1fr 55px 35px 35px 35px 35px;
    }
  }

  @media (max-width: 650px) {
    &:nth-child(1) {
      grid-template-columns: repeat(13, 1fr) 35px;
    }
    &:nth-child(2) {
      grid-template-columns: 25px repeat(13, 1fr) 25px;
    }
    &:nth-child(3) {
      grid-template-columns: 35px repeat(11, 1fr) 45px;
    }
    &:nth-child(4) {
      grid-template-columns: 35px repeat(10, 1fr) 25px 65px;
    }
    &:nth-child(5) {
      grid-template-columns: 25px 25px 25px 1fr 25px 25px 25px 25px 35px;
    }
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  // align-items: center;
  // flex-direction: column;
  border: 3px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 5px;
  border: 4px solid #777;
  border-top: 2px solid #ece8e4;
  border-bottom: 9px solid #c9c4c4;
  background-color: #e9e8e6;
  border-color: darken(#e9e8e6, 16%);
  border-top-color: lighten(#e9e8e6, 2%);
  border-bottom-color: darken(#e9e8e6, 28%);
  box-shadow: 0 -0.125em 0 -0.063em darken(#e9e8e6, 28%),
    0 0.125em 0 -0.063em rgba(0, 0, 0, 0.5);

  cursor: pointer;
  transition: all 0.1s ease-in;

  @media (max-width: 800px) {
    padding: 13px 2px;
    border: 3px solid #777;
    border-top: 2px solid #ece8e4;
    border-bottom: 5px solid #c9c4c4;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: 5px;
    border-left: 1px solid darken(#e9e8e6, 23%);
    border-right: 1px solid darken(#e9e8e6, 23%);
    border-bottom: 1px solid darken(#e9e8e6, 35%);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(
      to right,
      #e9e8e6,
      desaturate(darken(#e9e8e6, 12%), 20%) 5%,
      transparent 40%,
      transparent 60%,
      desaturate(darken(#e9e8e6, 12%), 20%) 95%,
      #e9e8e6
    );
    z-index: 1;
    transition: position 0.5s ease-in;
  }

  &.on {
    &::before {
      background: #c6f6f8;
    }
  }

  &:hover {
    border: 4px solid #e9e8e6;
    border-top: 2px solid #ece8e4;
    border-bottom: 9px solid #c9c4c4;

    &::before {
      position: absolute;
      border: none;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }

  &__letter-top,
  &__letter-bottom {
    display: block;
    z-index: 10;
    user-select: none;
    transition: all 0.2s ease-in-out;
  }

  &__letter-top {
    align-self: start;
  }

  &__letter-bottom {
    align-self: end;
  }

  &__letter-top.disable,
  &__letter-bottom.disable {
    color: rgb(150, 148, 148);

    @media (max-width: 650px) {
      font-size: 0.6rem;
    }
  }

  &__letter-top.active,
  &__letter-bottom.active {
    font-size: 1.5rem;

    @media (max-width: 1000px) {
      font-size: 1.3rem;
    }
    @media (max-width: 800px) {
      font-size: 1rem;
    }
    @media (max-width: 650px) {
      font-size: 0.8rem;
    }
  }

  &__letter-top:empty &__letter-bottom {
    align-self: center;
  }

  &.pressed {
    transform: scale(0.95) translateY(3px);
  }

  &.btn-func.on {
    &::before {
      background: #c6f6f8;
    }
  }

  &.btn-func {
    background-color: #7f8384;
    border-color: darken(#7f8384, 16%);
    border-top-color: lighten(#7f8384, 2%);
    border-bottom-color: darken(#7f8384, 28%);
    box-shadow: 0 -0.125em 0 -0.063em darken(#7f8384, 28%),
      0 0.125em 0 -0.063em rgba(0, 0, 0, 0.5);
    &::before {
      border-left-color: darken(#7f8384, 23%);
      border-right-color: darken(#7f8384, 23%);
      border-bottom-color: darken(#7f8384, 35%);
      box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.15);
      background-image: linear-gradient(
        to right,
        #7f8384,
        desaturate(darken(#7f8384, 12%), 20%) 5%,
        transparent 40%,
        transparent 60%,
        desaturate(darken(#7f8384, 12%), 20%) 95%,
        #7f8384
      );
    }
    &:hover {
      border: 4px solid #616161;
      border-top: 2px solid #616161;
      border-bottom: 9px solid #616161;
    }
  }

  &.btn-func .button__text span {
    align-self: center;
    font-size: 0.8rem;

    @media (max-width: 800px) {
      font-size: 0.55rem;
    }
  }

  &.btn-func.btn-img span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.btn-func.btn-img img {
    width: 80%;
    height: 80%;

  }
}
